
.btnRed{
    color:red!important;
}

.btnOrange{
    color:orange!important;
}

.btnGreen{
    color:green!important;
}

.btnYellow{
    color:yellow!important;
}

.btnSkyblue{
    color:skyblue!important;
}

.btnBlack{
    color:black!important;
}