<main role="main">
    <nav class="navbar navbar-expand-lg fixed-top text-dark scrolling-navbar">
        <div class="container-fluid">
            <a class="navbar-brand my-auto h1" href="#"  >
                <i class="fab fa-mix fa-lg " data-fa-transform="grow-2"></i>
                MutualFund Mart
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavDropdown" >
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link p-2" [routerLink]="['/category']" >
                            <i class="fas fa-home"></i>
                            HOME
                        </a>
                    </li>&nbsp;

                    <li class="nav-item dropdown">
                        <a class="nav-link p-2 dropdown-toggle" id="navbarDropdownCatgLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  >
                            <i class="fas fa-hashtag"></i>
                            CATEGORIES
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownCatgLink">
                            <div *ngIf="catgList && catgList.length">
                                <div *ngFor="let catg of catgList">
                                        <a class="dropdown-item" [routerLink]="['/view', catg.catg_id]"  >
                                            {{catg.c_name | uppercase}}
                                        </a>
                                </div>
                            </div>
                            <div *ngIf="!catgList && !catgList.length">
                                    No category yet.
                            </div>
                        </div>
                    </li>&nbsp;

                    <!-- users -->
                    <li class="nav-item" *ngIf="_usersService.isPrivilegeUser()">
                        <a class="nav-link p-2" [routerLink]="['/buyerdetails']"  >
                            <i class="fas fa-address-card"></i>
                            USERS
                        </a>
                    </li>&nbsp;

                    <!-- purchase history -->
                    <li class="nav-item" *ngIf="_usersService.isPrivilegeUser()">
                        <a class="nav-link p-2" [routerLink]="['/purchaseHistory']"  >
                            <i class="fas fa-history"></i>
                            PURCHASE HISTORY
                        </a>
                    </li>&nbsp;

                    <!-- analysis -->
                    <li class="nav-item" *ngIf="_usersService.isPrivilegeUser()">
                        <a class="nav-link p-2" [routerLink]="['/charts']" >
                            <i class="fas fa-chart-area"></i>
                            ANALYSIS
                        </a>
                    </li>&nbsp;

                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" *ngIf="!auth"><a class="btn btn-danger" data-toggle="modal" data-target="#LoginModal" href="">Login / SignUp</a></li>
                    <li class="nav-item dropdown" *ngIf="auth">
                        <a class="nav-link dropdown-toggle active" id="navbarDropdownUserLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  >
                            <i class="fas fa-user-circle"></i>
                            {{f_name | uppercase}}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownUserLink">
                            <a class="dropdown-item" [routerLink]="['/profile', u_id]">
                                <i class="fas fa-angle-right"></i>
                                &nbsp;Profile
                            </a>
                            <a class="dropdown-item" *ngIf="!privilege" [routerLink]="['/purchaseHistory']">
                                <i class="fas fa-rupee-sign"></i>
                                &nbsp;MyPurchase
                            </a>
                            <a class="dropdown-item" (click)="logout()">
                                <i class="fas fa-sign-out-alt"></i>
                                Logout
                            </a>
                        </div>
                    </li>
                </ul>  
            </div>
        </div> <!-- nav container fluid -->
    </nav> <!-- navbar menubar -->
    

    <div class="modal fade" id="LoginModal"  tabindex="-1" role="dialog" aria-labelledby="LoginModal" aria-hidden="true">
        <div class="modal-dialog modal-md" role="document" style="top: 5%; margin: 0 auto;">
            <div class="modal-content">
                <!-- <div class="modal-header"></div> -->
                <div class="modal-body pb-0">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                    </button>
                    <ul class="nav nav-tabs" id="myTab" role="tablist" >
                        <li class="nav-item modal-title">
                            <a class="nav-link active" data-toggle="tab" href="#login" role="tab" aria-controls="login">Login</a>
                        </li>
                        <li class="nav-item modal-title">
                            <a class="nav-link" data-toggle="tab" href="#signup" role="tab" aria-controls="signup">Sign UP</a>
                        </li>
                    </ul>
                        
                    <div class="container-fluid" >
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="tab-content"> <br>
                                    <!-- login tab -->
                                    <div class="tab-pane active" id="login" role="tabpanel">
                                        <div class="form-box">
                                            <div class="form-top">
                                                <div class="form-top-left">
                                                    <h3>Sign in first</h3>
                                                    <p>Enter username and password to log in:</p>
                                                </div>
                                            </div>
                                            <div class="form-bottom">
                                                <form class="login-form" role="form" #loginRef="ngForm" (ngSubmit)="onLogin(loginRef.value)">
                                                    <div class="form-group">
                                                        <label class="sr-only" for="usernameL">Username</label>
                                                        <input type="text" class="form-control" name="usernameL" id="usernameL" placeholder="Email.." [(ngModel)]="usernameL" required email #usernameLRef="ngModel">
                                                        <div *ngIf="usernameLRef.invalid && (usernameLRef.dirty || usernameLRef.touched)" class="alert alert-danger">
                                                            <div *ngIf="usernameLRef.errors.required">
                                                                *required
                                                            </div>
                                                            <div *ngIf="usernameLRef.errors.email">
                                                                Wrong username, should be an email-id.
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="sr-only" for="passwordL">Password</label>
                                                        <input type="password" class="form-control" name="passwordL" id="passwordL" placeholder="Password.." [(ngModel)]="passwordL" required #passwordLRef="ngModel">
                                                        <div *ngIf="passwordLRef.invalid && (passwordLRef.dirty || passwordLRef.touched)" class="alert alert-danger">
                                                            <div *ngIf="passwordLRef.errors.required">
                                                                *required
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="modal-footer"style="border-top-color: white">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-primary" [disabled]="loginRef.invalid">Sign in</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div> <!-- login tab -->

                                    <!-- signup tab -->
                                    <div class="tab-pane" id="signup" role="tabpanel">
                                        <div class="form-box">
                                            <div class="form-top">
                                                <div class="form-top-left">
                                                    <h3 class="mb-0">Sign up</h3>
                                                </div>
                                            </div>
                                            <div class="form-bottom">
                                                <form class="registration-form" role="form" #signupRef="ngForm" (ngSubmit)="onSignup(signupRef.value)">
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6 mb-0">
                                                            <label class="sr-only" for="f_nameSU">First name</label>
                                                            <input type="text" class="form-control" name="f_nameSU" id="f_nameSU" placeholder="First name.." [(ngModel)]="f_nameSU" required minlength="3" #fnameRef="ngModel">
                                                            <div *ngIf="fnameRef.invalid && (fnameRef.dirty || fnameRef.touched)" class="alert alert-danger">
                                                                <div *ngIf="fnameRef.errors.required">
                                                                        *required
                                                                </div>
                                                                <div *ngIf="fnameRef.errors.minlength">
                                                                        *minimum 3 char long
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-md-6 mb-0">
                                                            <label class="sr-only" for="l_nameSU">Last name</label>
                                                            <input type="text" class="form-control" name="l_nameSU" id="l_nameSU" placeholder="Last name.." [(ngModel)]="l_nameSU" required minlength="3" #lnameRef="ngModel">
                                                            <div *ngIf="lnameRef.invalid && (lnameRef.dirty || lnameRef.touched)" class="alert alert-danger">
                                                                <div *ngIf="lnameRef.errors.required">
                                                                    *required
                                                                </div>
                                                                <div *ngIf="lnameRef.errors.minlength">
                                                                    *minimum 3 char long
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="sr-only" for="email_idSU">Email</label>
                                                        <input type="email" class="form-control" name="email_idSU" id="email_idSU" placeholder="Email.." [(ngModel)]="email_idSU" required email #emailRef="ngModel">
                                                        <div *ngIf="emailRef.invalid && (emailRef.dirty || emailRef.touched)" class="alert alert-danger">
                                                            <div *ngIf="emailRef.errors.required">
                                                                *required
                                                            </div>
                                                            <div *ngIf="emailRef.errors.email">
                                                                *wrong email-id
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-8 mb-0">
                                                            <label class="sr-only" for="phoneSU">Phone</label>
                                                            <input type="text" class="form-control" name="phoneSU" id="phoneSU"  placeholder="Phone.." [(ngModel)]="phoneSU" required minlength="10" maxlength="10" #phoneSURef="ngModel">
                                                            <div *ngIf="phoneSURef.invalid && (phoneSURef.dirty || phoneSURef.touched)" class="alert alert-danger">
                                                                <div *ngIf="phoneSURef.errors.required">
                                                                    *required
                                                                </div>
                                                                <div *ngIf="phoneSURef.errors.minlength">
                                                                    Phone number must be 10 digit.
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-md-4 mb-0">
                                                            <label class="sr-only" for="genderSU">Gender</label>
                                                            <select class="form-control" name="genderSU" id="genderSU" [(ngModel)]="genderSU" required #genderSURef="ngModel">
                                                                <option disabled selected value>Select Gender</option>
                                                                <option value="Male">Male</option>
                                                                <option value="Female">Female</option>
                                                            </select>
                                                            <div *ngIf="genderSURef.invalid && (genderSURef.dirty || genderSURef.touched)" class="alert alert-danger">
                                                                <div *ngIf="genderSURef.errors.required">
                                                                    *required
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="sr-only" for="passwordSU">Password</label>
                                                        <input type="password" class="form-control" name="passwordSU" id="passwordSU" placeholder="Password.." [(ngModel)]="passwordSU" required minlength="8" maxlength="12" #passwdRef="ngModel">
                                                        <div *ngIf="passwdRef.invalid && (passwdRef.dirty || passwdRef.touched)" class="alert alert-danger">
                                                            <div *ngIf="passwdRef.errors.required">
                                                                *required
                                                            </div>
                                                            <div *ngIf="passwdRef.errors.minlength">
                                                                Password is too short, must be 8 char long.
                                                            </div>
                                                            <div *ngIf="passwdRef.errors.max">
                                                                Password is too long, must be less than 12.
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="sr-only" for="c_passwordSU">Confirm password</label>
                                                        <input type="password" class="form-control" name="c_passwordSU" id="c_passwordSU" placeholder="Confirm password.." [(ngModel)]="c_passwordSU" required #cpasswdRef="ngModel" >
                                                        <div *ngIf="cpasswdRef.invalid && (cpasswdRef.dirty || cpasswdRef.touched)" class="alert alert-danger">
                                                            <div *ngIf="cpasswdRef.errors.required">
                                                                Re-type password and confirm.
                                                            </div>
                                                        </div>
                                                        <div class="alert alert-danger" *ngIf="(passwordSU != c_passwordSU) && (passwordSU != '') && (c_passwordSU != '') && (cpasswdRef.dirty || cpasswdRef.touched)">
                                                            Password didnt match.
                                                        </div>
                                                        <div class="alert alert-success" *ngIf="(passwordSU == c_passwordSU) && (passwordSU != '') && (c_passwordSU != '') && (cpasswdRef.dirty || cpasswdRef.touched)">
                                                            Password matched.
                                                        </div>
                                                    </div>

                                                    <div class="modal-footer pb-0" style="border-top-color: white">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-success" [disabled]="signupRef.invalid">Sign up</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div> <!-- signup tab -->

                                </div>
                            </div>
                        </div>

                        <br>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
       
        
    <div class="container-fluid m-0 px-0">
            <!-- <br/><br/><br/><br/> -->
        <router-outlet></router-outlet>
    </div>
        
    <hr class="featurette-divider">
    <footer class="container">
        <p>© 2018 Capstone Company, Inc.</p>
    </footer>
        
</main>