/*
@import "../../node_modules/bootstrap/scss/_variables.scss";

 .pt-10 {
    padding-top: ($spacer * 6) !important;
  } */


  .nbrand { 
    font-size: 25px;
    font-weight: bold;
  }


  ul.nav-tabs > li {
    width: 50%;
    text-align: center;
  }


  ul.nav-tabs
  {
    background-color: rgba(255, 255, 255, 0.753)!important;
  }
  /* .form-control{
    border-top:none;
    border-left: none;
    border-right: none;
  } */

.top-nav-collapse {
    background-color: #78909c !important; 
}
.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}
@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background: #4496be !important;
    } 
}
  