
<header>
    <div class="view hm-black-light jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(../../assets/images/article-5.jpg);min-height: 100vh;background-size: cover; background-repeat:no-repeat;">
        <div class="full-bg-img">
            <div class="container flex-center">
                <div class="row pt-5 mt-3">
                    <div class="col-md-12">
                        <div class="text-center grow">
                            <h1 class="display-1 mb-3 wow fadeInDown" data-wow-delay="0.3s"><strong>Mutual Fund Mart</strong></h1>
                            <hr class="hr-dark mt-4 wow fadeInDown" data-wow-delay="0.4s">
                            <h5 class="font-up mb-5 wow fadeInDown" data-wow-delay="0.4s"><strong>Buy Mutual Funds</strong></h5>
                            <a class="btn btn-outline-white wow fadeInDown waves-light btnKnowMore" data-wow-delay="0.4s" href="#KnowMore">Know More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<br/>


<!--Home Knowledge Article -->
<div class="container-fluid">
    <div align="center" style="font-family: 'Times New Roman', Times, serif; font-weight: bold">KNOWLEDGE ARTICLES</div>
        <div class="card-deck mt-4" id="KnowMore">

            <a href="whatarethevarioustypesoffunds">
                <div class="card">
                    <img class="card-img-top"  src ="../../assets/images/homepagefolder/What-are-the-types-of-Mutual-Funds.png"alt="Card image cap">
                    <div class="card-body" style="background-size:contain; background-repeat: no-repeat;">
                    <p class="card-text"style="font-family: 'cambria'">What are the various types of funds?</p>
                    </div>
                </div>
            </a>

            <a href="canmutualfundshelpcreatewealth">
                <div class="card">
                    <img class="card-img-top"  src ="../../assets/images/homepagefolder/Can-Mutual-Funds-help-create-wealth_0.png"alt="Card image cap">
                    <div class="card-body" style="background-size:contain; background-repeat: no-repeat;">
                    <p class="card-text"style="font-family: 'cambria'">Can Mutual Funds help create wealth?</p>
                    </div>
                </div>
            </a>

            <a href="SocanIinvestnowformyvacation8monthslater">
                <div class="card">
                    <img class="card-img-top"  src ="../../assets/images/homepagefolder/So-can-I-invest-now,-for-my-vacation-8-months-later.png"alt="Card image cap">
                    <div class="card-body" style="background-size:contain; background-repeat: no-repeat;">
                    <p class="card-text"style="font-family: 'cambria'">So can I invest now, for my vacation?</p>
                    </div>
                </div>
            </a>

            <a href="WhyshouldoneinvestinMutualFunds">
                <div class="card">
                    <img class="card-img-top"  src ="../../assets/images/homepagefolder/Why-should-one-invest-in-Mutual-Funds.png"alt="Card image cap">
                    <div class="card-body" style="background-size:contain; background-repeat: no-repeat;">
                    <p class="card-text"style="font-family: 'cambria'">Why should one invest in Mutual Funds?</p>
                    </div>
                </div>
            </a>
        </div>
</div>
<!--Home Knowledge Article -->
